/* -------- Style của not found page -------- */
.not-found-page {
  text-align: center;
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -250px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}