@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rord3b');
  src:  url('fonts/icomoon.eot?rord3b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rord3b') format('truetype'),
    url('fonts/icomoon.woff?rord3b') format('woff'),
    url('fonts/icomoon.svg?rord3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xem-dang-bieu-do:before {
  content: "\e900";
  color: #fff;
}
.icon-tim-kiem:before {
  content: "\e901";
  color: #fff;
}
.icon-xoa:before {
  content: "\e902";
  color: #5c6376;
}
.icon-tien-do-du-an:before {
  content: "\e903";
}
.icon-tai-xuong-2:before {
  content: "\e904";
  color: #5c6376;
}
.icon-thong-tin-nguoi-dung:before {
  content: "\e905";
  color: #5c6376;
}
.icon-thong-tin-du-an:before {
  content: "\e906";
}
.icon-them-moi:before {
  content: "\e907";
  color: #fff;
}
.icon-phone:before {
  content: "\e908";
  color: #ffc551;
}
.icon-tai-xuong:before {
  content: "\e909";
}
.icon-quan-ly-danh-muc:before {
  content: "\e90a";
  color: #5c6376;
}
.icon-quan-ly-thong-tin:before {
  content: "\e90b";
  color: #5c6376;
}
.icon-quan-ly-du-an:before {
  content: "\e90c";
  color: #5c6376;
}
.icon-quan-tri-he-thong:before {
  content: "\e90d";
  color: #0275d8;
}
.icon-tim-kiem-lai:before {
  content: "\e90e";
  color: #5c6376;
}
.icon-tao-moi-bao-cao:before {
  content: "\e90f";
}
.icon-quan-ly-van-ban:before {
  content: "\e910";
  color: #5c6376;
}
.icon-thong-ke-bao-cao:before {
  content: "\e911";
  color: #5c6376;
}
.icon-menu:before {
  content: "\e912";
  color: #fff;
}
.icon-quan-ly-tien-do-du-an:before {
  content: "\e913";
  color: #0275d8;
}
.icon-phe-duyet-tai-lieu:before {
  content: "\e914";
  color: #5c6376;
}
.icon-luu:before {
  content: "\e915";
  color: #fff;
}
.icon-chon-thoi-gian-bao-cao:before {
  content: "\e916";
  color: #5c6376;
}
.icon-date:before {
  content: "\e917";
}
.icon-in:before {
  content: "\e918";
  color: #f4f7fb;
}
.icon-arrow:before {
  content: "\e919";
  color: #5c6376;
}
.icon-chon:before {
  content: "\e91a";
  color: #fff;
}
.icon-chon-tai-lieu:before {
  content: "\e91b";
  color: #5c6376;
}
.icon-cap-nhat:before {
  content: "\e91c";
  color: #fff;
}
.icon-huy:before {
  content: "\e91d";
  color: #5c6376;
}
.icon-arrow-fill:before {
  content: "\e91e";
  color: #0065c7;
}
