/* -------- Style color -------- */
.color-blue {
  color: $color-primary;
}
.color-red {
  color: $color-text-red;
}
.color-black {
  color: $color-text-black;
}
.color-green {
  color: $color-green;
}
.color-orange {
  color: $color-orange;
}
.color-light-blue {
  color: $color-light-blue;
}
.color-ecstasy {
  color: $color-ecstasy;
}
.color-white {
  color: $color-white;
}

.b-color-blue {
  background-color: $bg-primary;
}

.b-color-pink {
  background-color: $bg-pink;
}

.b-color-orange {
  background-color: $bg-orange-opacity;
}

.b-color-body {
  background-color: $bg-body;
}

.b-color-white {
  background-color: $color-white;
}